<div bsModal #dialog="bs-modal" class="modal fade" id="createFolderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Assign a name to the folder</p>
                <input [(ngModel)]="folderName" id="folder-name" type="text">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Close</button>
                <button type="button" class="btn btn-primary" (click)="createFolder()" [disabled]="!folderName">Create</button>
            </div>
        </div>
    </div>
</div>