
// Colors
$left-navbar-bg: #f8f9fa;

$left-navbar-with: 25%;
$margin-top-navbar: 88px;

$z-index-top-navbar: 1000;
$z-index-left-navbar-xs: 2000;

$mq-screen-xs: 576px;
$mq-screen-sm: 768px;
$mq-screen-md: 992px;
$mq-screen-lg: 1200px;